$font-family: "Century Gothic", sans-serif;
$font-size-base: 16px;
$font-weight: 100;
$bg-color: #444;
$bg-color2: #666;
$yellow: rgb(249, 229, 89);
$almost-white: rgb(255, 255, 255);
$btn-transparent-color: rgba(249, 229, 89, 1);
$btn-transparent-bg: rgba(249, 229, 89, 0);

html {
  background: linear-gradient($bg-color, $bg-color2);
  min-height: 100%;
  font-family: $font-family;
}
#gallery {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 360px;
  h1 {
    color: $yellow;
    font-size: $font-size-base * 3;
    font-weight: $font-weight;
    padding: 50px 40px 0px;
    text-transform: uppercase;
  }
  p {
    color: $almost-white;
    padding: 0 40px;
  }

  .thumbnail {
    float: left;
    position: relative;
    width: 15%;
    padding-bottom: 15%;
    margin: 0.83%;
    overflow: hidden;
    &:hover {
      -webkit-box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.75);
    }
  }

  .img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: auto;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    &:hover .img-caption {
      top: 0;
      left: 0;
      .btn-trans {
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid $yellow;
      }
    }
  }

  .img-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  .table {
    display: table;
    .table-cell {
      display: table-cell;
      vertical-align: middle;
      border: 2px solid $yellow;
    }
  }
  .btn {
    border: none;
    font-size: inherit;
    font-weight: $font-weight;
    color: $btn-transparent-color;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    border: 1px solid $yellow;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &::after {
      line-height: 1;
      position: relative;
      -webkit-font-smoothing: antialiased;
    }
  }
  .btn-sep {
    margin: 30px 0px;
  }
  .btn-p {
    font-size: $font-size-base;
    padding: 10px 20px;
  }

  .btn-trans {
    background: $btn-transparent-bg;
    color: $yellow;
    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }
    &:active {
      background: rgba(255, 255, 255, 0.4);
    }
  }

  @media screen and (max-width: 992px) {
    .thumbnail {
      width: 22%;
      padding-bottom: 22%;
      margin: 1.5%;
    }
    .img-container:hover .img-caption {
      top: 0;
      left: 0;
    }

    .img-caption {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      text-align: center;
      a {
        color: $yellow;
      }
    }
  }
  @media screen and (max-width: 720px) {
    .thumbnail {
      width: 29%;
      padding-bottom: 29%;
      margin: 2.16%;
    }
  }
  @media screen and (max-width: 470px) {
    .thumbnail {
      width: 44%;
      padding-bottom: 44%;
      margin: 3%;
    }
  }
}
