.image img{
  width:150px;
  height:150px
}
.image{
  position: relative;
  transform: translatex(100px);
}
.image2{
  height: 120px;
}


@media only screen (max-width: 480px){  

  
}


@media only screen and (min-width: 480px) and (max-width: 1024px){
  .image img{
   
}