.faculty_img{
    display: flex;
    justify-content: center;
    z-index: 11;
    position: relative;
    top: 100px;
   }
   .faculty_img img{
    height: 140px;
    width: 140px;
    
    border: 2px solid black;
   }
    .faculty_about{
      padding-top: 120px;
      padding-bottom: 30px;
    }
  
    .ani_tex{
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, rgb(234, 5, 5), #fff, rgba(11, 43, 225, 0.442));
        background-repeat: no-repeat; 
        background-size: 80%;
        animation: animate 5s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(134, 65, 123, 0);
        align-items:center;
        justify-content: center;
      }
      
      @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
      }

      .faculty-card{
        position: relative;
        width: 400px;
        height: 150px;
        transition: 0.3s;
        background-color: #fff;
        padding: 30px 20px;
        box-shadow: 5px 5px 5px 5px ;
        border-radius: 23px;
      }
      .faculty-card:hover{
        height: 250px;
      }
      .faculty-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       position: relative;
       height: 100%;
       width: 100%;
       z-index: 2;
      }
      .faculty-img img{
        height: 120px;
        width: 120px;
        border: 2px solid black;
        border-radius: 100%;
        transform: translateY(-45px);
      }
      .faculty-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(-100px);
      }
      .faculty-card:hover > .faculty-content{
        opacity: 1;
        transform: translateY(-100px);
      }
      .faculty-card:hover > .faculty-img img{
        transform: translateY(-90px);
      }
      .faculty-card:hover > .faculty-img h4{
        top: -90px;
      }
      .faculty-img h4{
        font-size: 2rem;
        font-weight: bold;
        padding: 10px 0px;
        position: relative;
        top: -40px;
      }
      .faculty-content p{
        text-align: justify;
        padding: 10px 0px;
      }
      @media screen and(max-width:668px) {
        .faculty-card{
          width: 200px;
        }
      }