.placement-card{
    width: 370px;
    height: 160px;
    background-color: #fff;
    box-shadow: 2px 1px 1px 2px;
    position: relative;
    border-radius: 0px 0px 23px 23px;
}
.placement-img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    transform: translateY(-120px);
}

.placement-img img{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    object-fit:cover;
    border: 6px solid white;
}
.placement-top-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        width: 200px;
        height: 60px;
        background-color: rgb(23 94 149);
        border-radius:0px 23px 0px 0px;
        transform: translate(-30px, -30px)
}
.placement-top-bar img{
        height: 80px;
        width: 30px;
        transform: translate(-85px, 97px);
}
.placement-top-bar h3{
    font-size:24px;
    font-weight: 700;
    color: #fff;
    transform: translateY(-35px);
}
.placement-top-bar span{
    font-size:16px;
    font-weight: 500;
    color: #fff;
    transform: translateY(-45px);
}
.placement-content{
    margin: 30px 20px;
text-align: justify;
transform: translateY(-180px);
}

@media screen and (max-width:668px) {
    .placement-card{
        width: 300px;
        height: 100px;
    }  
    .placement-img{
        transform: translateY(-100px);
    }
    .placement-img img{
        height: 80px;
        width: 80px;
        border: 4px solid white;
    }
    .placement-top-bar{
            width: 150px;
            height: 40px;
            transform: translate(-20px, -20px)
    }
    .placement-top-bar img{
            height: 50px;
            width: 20px;
            transform: translate(-65px, 67px);
    }
    .placement-top-bar h3{
        font-size:15px;
        transform: translateY(-22px);
    }
    .placement-top-bar span{
        font-size:12px;
        transform: translateY(-32px);
    }
    .placement-content{
    transform: translateY(-140px);
    }z
    .placement-content p{
    font-size:13px ;
    }
}
    
.boxm{
    background-color: rgb(42, 20, 20);
    height: 300px;
    width: 250px;
    border-radius: 20px 0px 20px 0px;
}
.overm{
    height: 50px;
    width: 250px;
    background-color: rgb(195, 174, 188);
    z-index: 442882;
    transform: translateY(-50px);
    border-radius: 0px 0px 20px 0px;
    border: 4px solid rgb(42, 20, 20);
}
.industry-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.industry-detail{
height: 480px;
width: 80%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color: #d7d7d5;
border-radius: 23px 0px 23px 0px;
margin: 80px 0px;
}   
.industry-detail-img{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 86px 57px;
transform: translateY(89px);
}
.industry-detail-img img{
height: auto;
max-width: 100%;
tra
}
.industry-detail-img-icon{
    display: flex;
    justify-content: center;
    transform: translate(-3px,-400px);
    }
.industry-detail-img-icon i{
    padding: 10px 17.3px;
    }
.industry-detail-img-icon .id-icon-1{
    transform: translate(2px,45px);
    }
.industry-detail-name-block-upper{
    display: flex;
    justify-content: center;
    transform: translate(-3px,-280px);
}
.industry-detail-name-block-bottom{
    display: flex;
    justify-content: center;
    transform: translate(-3px,-280px);
}
.id-name-1{
    transform: translate(6px,-320px);
    padding: 0px 20px;
    text-align: center;
}
.id-name-2{
    transform: translate(0px,-65px);
    padding: 0px 20px;
    text-align: center;
}
.industry-detail-name h4{
    color: #fff;
    font-weight: 700;
    font-size: 32px;
}
.industry-detail-name span{
    color: rgb(0, 0, 0);
    font-size: 12px;
}
#id-heading-1 h4{
   
    color:#6e4198;
}
#id-heading-2 h4{
    color: #2e6ab5;
   
}
#id-heading-3 h4{
    color: #028b94;
    
}
#id-heading-4 h4{
    color: #faaf14;
}
#id-heading-5 h4{
    color: #ca2227;
}
#id-heading-6 h4{
    color: #05a550;
}
#id-heading-7 h4{
    
    color:#953d8f;
}
#id-heading-8 h4{
    color: #4c43a6;
}
#id-heading-9 h4{
    color: #00b7e3;
    
}
#id-heading-10 h4{
    color: #fb4b2a;
}
#id-heading-11 h4{
   
    color: #fbab18;
}
#id-heading-12 h4{
    color: #9a2827;
}
#id-heading-13 h4{
    color: #a64128;
}

@media screen and (max-width:668px) {
.industry-detail{
                height: 100px;
                width: 90%;
    }
 .industry-detail-img{
                 margin: 86px 10px;
                transform: translateY(107px);
        }
 .industry-detail-img-icon i{
                 padding: 20px 5.2px;
                 transform: translate(2px,286px);
            }
.industry-detail-img-icon .id-icon-1{
                transform: translate(3px,300px);
            }
 .industry-detail-name-block-upper{
                transform: translate(-3px,100px);
            }
.industry-detail-name-block-bottom{
                transform: translate(-3px,-120px);
            }
 .id-name-1{
                transform: translate(6px,-320px);
                padding: 0px 20px;
            }
.id-name-2{
                transform: translate(0px,-65px);
                padding: 0px 20px;
                text-align: center;
            }
 .industry-detail-name h4{
                color: #fff;
                font-weight: 700;
                font-size: 32px;
            }
.industry-detail-name span{
                color: rgb(0, 0, 0);
                font-size: 12px;
            }
}
.box-im{
height: 70px;
width:70px;
margin: 20px;
}

#box1{ margin-top: 10px;
    height:60px;
    width:500px;
    border-radius: 30px;
    background-color: pink;
    border:2px solid rgb(155, 140, 140);
    box-shadow: 10px 10px 10px;
    margin-left: 30px;


}
#box2{margin-top: 20px;
    margin-left: 30px;
    background-color: aqua;
    height:60px;
    width:400px;
    border-radius: 30px;
    border:2px solid rgb(155, 140, 140);
    box-shadow: 10px 10px 10px;
}
#box3{background-color: rgb(202, 209, 72);
    margin-top: 20px;
    height:60px;
    width:250px;
    border:2px solid rgb(155, 140, 140);
    margin-left: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px;
}
#box4{background-color:crimson;
    margin-top: 20px;
    height:60px;
    width:180px;
    border-radius: 30px;
    border:2px solid rgb(155, 140, 140);
    margin-left: 30px;
    box-shadow: 10px 10px 10px;
}
#box5{ margin-top: 10px;
    height:60px;
    width:200px;
    border-radius: 30px;

    background-color: rgb(167, 163, 204);
    border:2px solid rgb(75, 20, 82);
    box-shadow: 10px 10px 10px;
    margin-left: 180px;    

}
#box6{margin-top: 20px;
    margin-left: 180px;
        background-color: rgb(205, 111, 126);
    height:60px;
    width:160px;
    border-radius: 30px;
    border:2px solid rgb(155, 140, 140);
    box-shadow: 10px 10px 10px;
}
#box7{background-color: rgb(127, 216, 194);
    margin-top: 20px;
    height:60px;
    width:120px;
    border:2px solid rgb(152, 155, 140);
    margin-left: 180px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px;
}
