*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
}

/*    heading lines start  */

.double-line-bottom-theme-colored-2:after {
    border-radius: 8px;
    bottom: 1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 64px;
    background-color: red;
}
.double-line-bottom-theme-colored-2:before {
    border-radius: 8px;
    bottom: -1px;
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 24px;
    background-color: red;
}     
.double-line-bottom-theme-colored-2 {
    margin-bottom: 20px;
    margin-top: 8px;
    padding-bottom: 5px;
    position: relative;
}
.double-line-bottom-centered-theme-colored-2 {
    margin-bottom: 20px;
    margin-top: 8px;
    padding-bottom: 5px;
    position: relative;
}
.double-line-bottom-centered-theme-colored-2:before {
    border-radius: 8px;
    bottom: 0;
    content: "";
    height: 6px;
    bottom: -2px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    position: absolute;
    width: 24px;
    background-color: red;
}
.double-line-bottom-centered-theme-colored-2:after {
    border-radius: 8px;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    right: 0px;
    margin: 0 auto;
    position: absolute;
    width: 64px;
    background-color: red;
}

/* heading lines end  */

/* header start */
header{
  background-color: rgb(9 9 56) ;
  top: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 10px;
  z-index: 9999;
}
header .logo{
  margin-left: 50px;
  width: 80px;
  position:relative;
  font-weight: 700;
  color: rgb(8, 6, 61);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;

}
header .menu-font{
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
header.sticky .menu-font{
color: white  ;
}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  color: #000000;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}
header ul li a{
  position:relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(8, 6, 61);
  font-weight: bold;
  font-size: 14px;  
  letter-spacing: 2px;
  transition: 0.6;
}
header h3{
  /* color: #19103e; */
  color: rgb(245, 245, 247);
  font-size: 30px;
  font-weight: 700;
}

header.sticky{
  position: fixed;
  top: 0px;
  padding: 10px 10px;
  background-color: rgb(58, 12, 10);
}

header.sticky .logo{
  color: rgb(255, 255, 255);
  margin-left: 50px
}
header.sticky ul{
  color: #ececec;
  padding: 2px 6px;
  background-color: rgba(255, 255, 255, 0);
}
header.sticky ul li{
  color: #ececec;
  padding: 2px 1px;
  background-color: rgba(238, 2, 2, 0);
}
header.sticky ul li a{
  color: rgb(255, 255, 255);
  font-size: 14px;
}
header.sticky h3{
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/* header end */
/* faq start*/
.service__faq {
  margin: 25px 0px 30px;
  border: 4px solid #c1af61;
  padding: 20px 40px;
}

.service__faq__wrapper {
  text-align: center;
}

.faq__wrapper__inner {
  padding-bottom: 20px;
}

.service__faq__wrapper__circle {
  color: #c1af61;
  font-size: 30px;
  font-family: MinionPro-Bold;
  background: #f2f1ec;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  line-height: 50px;
  position: relative;
  top: -45px;
}

.service__faq__wrapper__title {
  font-family: MinionPro-Bold;
  color: #c1af61;
  font-size: 36px;
  margin: 0px 0px 30px 0px;
  padding: 0 15px;
  text-align: center;
  position: relative;
}

.service__faq__q {
  font-family: 'proxima_nova_ltlight';
  font-weight: 600;
  margin-bottom: 1rem;
}

.faq__first-letter {
  color: #c1af61;
  font-weight: 600;
}

header .dropdown {
  font-size: 10px;
}



.myName {
  color: rgb(228, 179, 179);
  font-size: 22px;
  font-family: cursive;
}
.item1 {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 12px 18px;
  font-size: 20px;
  opacity: 0.8;
  box-shadow: 4px 8px 20px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  overflow: hidden;
  height: 50px;
  transition: all 0.4s;
  margin: 16px 0;
}

.ye {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.img1 {
  width: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.active1 {
  height: 130px;
}

.act_img {
  transform: rotate(45deg);
}
/* faq end */

.list{
    list-style: none;
}

.target{
    animation: flowing 10s linear infinite;
    transform: translateX(100%);

  }
  
  @keyframes flowing {
    100% {
      transform: translateX(-100%);
    }
  }
  
  
  @media screen and (max-width: 668px) {
    .item1 {
      font-size: 17px;
    }
  }
  
  @media screen and (max-width: 608px) {
    .item1 {
      font-size: 15px;
    }
  }

  .gradient11{
    background-image: linear-gradient(
    to right bottom,
    #051937,
    #181f36,
    #242636,
    #2e2d35,
    #353535
  );
  transition: background-color 0.3s;
  }

  /* swiper js code */

  .news-alerts {
    width: 100%;
    height: 300px;
    padding: 5px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: "Archivo", sans-serif;
  }
  
  .news-alerts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .news-alerts ul li {
    padding: 10px 0px;
  }
  
  .news-alerts ul li a {
    color: #000;
    text-decoration: none;
  }
  
  .news-alerts ul li a:hover {
    color: #333;
    text-decoration: underline;
  }

  .marquee-w {
    position: relative;
    display: block;
    width: 100%;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee span {
    display: inline-block;  
    padding-left: 100%;
    text-align: center;
    font-weight: 100;
    -webkit-text-stroke: 1px #f0d2d2;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 25px;
    font-size: 20px;
    animation: marquee 6s linear infinite;
}

.marquee2 span {
    animation-delay: 6s;
} 
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
  .marquee-w-1 {
    position: relative;
    display: block;
    width: 100%;
    height: 24px;
    top: 50%;
    left: 50%;
    transform:translateY(-100%)
    overflow: hidden;
}
.marquee-1 {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee-1 span {
    display: inline-block;  
    padding-left: 100%;
    text-align: center;
    font-weight: 100;
    -webkit-text-stroke: 1px #f0d2d2;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 25px;
    font-size: 20px;
    animation: marquee 10s linear infinite;
}
.marquee2-1 span {
    animation-delay: 3.5s;
}
.marquee3 span {
    animation-delay: 3.5s;
}
@keyframes marquee-1 {
    0% {
        transform: translateY(0, 0);
    }
    100% {
        transform: translateY(-100%);
    }
}
/* swiper js */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.direc-img img {
  width: 200px;
}

@media screen and (max-width: 668px) {
  .service__faq__wrapper__title {
    font-size: 20px;
  }
  .item1 {
    font-size: 12px;
    height: 40px;
    margin: 16px 0;
  }
  .ye h4 {
    font-size: 12px;
  }
  .service__faq {
    margin: 10px 0px 10px;
    padding: 10px 10px;
  }
  header{
    top: 0px;
    padding: 5px 10px;
  }
  header .logo{
    padding-top: 10px;
    width: 50px;
  }
  header h3{
    color: #ffffff;
    font-size: 11px;
  }
  header .mainh1{
    font-size: 24px;
  }
  header .mainh2{
    font-size: 11px;
  }
  header.sticky h3{
    font-size: 11px;
    color: rgb(255, 255, 255);
  }
  
  header.sticky{
    padding: 5px 10px;
    background-color: rgb(58, 12, 10);
  }
  header.sticky .logo{
    padding-top: 10px;
    width: 50px;
  }
  header.sticky .bars{
    color: white;
  }
  header .bars{
    color:#fcfbff;
    cursor: pointer;
  }
  header .menu-font{
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  .img1 {
    width: 20px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .active1 {
    height: 130px;
  }
  
  .act_img {
    transform: rotate(45deg);
  }
  .header-img img{
    height: 220px;
  }
  .breadcrumb-img{
    top: 60px;
    }
    .main_title{
      font-size: 21px;
    }
    
}
.breadcrumb-img{
background-color: rgba(38, 38, 40, 0.6);
width: 100%;
height: 220px;
position: absolute;
left: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.breadcrumb-img span{
color: rgb(239, 237, 243);
font-size: 40px;
font-weight: bold;
}
.breadcrumb-img ol li a{
color: rgb(239, 237, 243);
text-decoration: none;
font-weight: 600;
}

/*
 header image section start 
 */
.header-img img{
  height: 220px;
  width: 100%;
  object-fit: cover;
}
/*
 header image section end 
 */
  

 /* directors page img */

 .director_img{
  display: flex;
  justify-content: center;
  z-index: 11;
  position: relative;
  top: 100px;
 }
 .director_img img{
  height: 200px;
  background-color: rgb(177, 245, 19);
  border: 5px solid rgb(60, 107, 209);
 }
  .director_about{
    padding-top: 120px;
    padding-bottom: 30px;
  }

  .campus_tour{
    height: 510px;
    object-fit: cover;
  }

  .slider_data{
    border-radius: 23px;
    background: rgba(4, 4, 49, 0.6);
  }
  .slider_data:hover{
    border-radius: 23px;
    width:70%;
    background: rgba(4, 4, 49, 1);
    transform: scale(1.08);
    transition: ease-in-out;
  }
  .image_popup:hover{
    overflow: hidden;
    transform: scale(1.04);
    transition: ease-in-out;
  }

  @media screen and (max-width: 668px) {
    .campus_tour{
      height: 220px;
      object-fit: cover;
    }
  }

  .mobile_menu a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .mobile_menu a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
